body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px ;
    /* background-color: #c3dad2; */
    background-image: url(https://media.istockphoto.com/id/1704870086/pt/vetorial/abstract-gray-and-white-color-gradient-background-vector-illustration.jpg?s=612x612&w=0&k=20&c=6bqMianbHcOSWH8epV7E3f5xuhBACgg0vBeLkFgrnuc=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
header{
    text-align: center;
    color: #013a2c;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

form{
    background-color: #7ecab179;
    padding: 25px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgb(2, 46, 29);
}

label{
    font-weight: bold;
    display: block;
    margin: 10px 0 5px 0;
    color: rgb(1, 32, 1)
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="date"],
input[type="color"],
select,
textarea{
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #00ff62;
    border-radius: 4px;
    box-sizing: border-box;
    width: calc(100% - 25px);
}

input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

input[type="file"] {
    margin-top: 10px;
}
input[type="color"]{
    padding: 1px;
}

button{
    width: 30%;
    padding: 10px;
    background-color: rgb(1, 26, 1);
    color: rgb(212, 233, 229);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: rgb(23, 133, 81);
}

.small-input{
    width: auto;
    display: inline-block;
}

.inline-label{
    display: inline-block;
    margin-right: 10px;
}


footer{
    text-align: end;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
   color: black;
}
